<%- include('./partials/head') %>

 <div class="container">
  <div class="card">
    <div class="front">
          <h1><%= data.name %> <%= data.surname %></h1>
              <p>Frontend designer en developer</p>
    <div class="front-image-container">
       <img src="<%= data.avatar %>" alt="profielfoto"> 
    </div>
  </div>
    <div class="back">

          



    </div>
  </div>
</div> 

<%- include('./partials/foot') %>
