<%- include('./partials/head') %>

 <div class="container">
  <div class="card">
    <div class="front">
          <h1><%= name %> <%= surname %></h1>
              <p>Frontend designer en developer</p>
    <div class="front-image-container">
       <img src="<%= avatar %>" alt="profielfoto"> 
    </div>
  </div>
    <div class="back">
      <div class="back-content">
        <div class="biografie">
          <h2>Biografie</h2>
            <p> <%= bio %> </p>
        </div>
      <div class="contactgegevens">
          <h2>Contactgegevens</h2>
          
        </div>
      </div>
    </div>
  </div>
</div> 

<%- include('./partials/foot') %>
